.go-premium{
    background-color: #f5f5f7;
    display:flex;
    border-radius: 1.4rem;
    width: 40rem;
    margin-top: 13.5rem;
    height:17rem;
    margin-left: 2.5rem;
    justify-content: space-between;
    align-items: center;
    &__text{
        margin-left: 2rem;
    }
    &__icon{
        margin-right: 2rem;
    }
    &__text p{
        font-size: 1.2rem;
    }
}